.item-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    background-color: salmon;
    border-radius: 10px;
    padding: 20px 0px 20px 25px;
}
.item-container img{
    width: 60px;
    background-color: transparent;
    /* display: flex; */
    border-radius: 50%;
}

.delete-icon{
    font-size: 30px;
    color: #222;
    cursor: pointer;
}